@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #d9d9d9;
  background-color: #141414;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
header nav {
  background-color: #242424;
  border: 1px solid #3a3a3a;
  padding: 14px 37px;
  border-radius: 32px;
  display: flex;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  color: #686868;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
header nav a:hover {
  color: #d9d9d9;
}
header nav a:active {
  color: #000;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.icon-btn-plus {
  display: flex;
  margin: 0;
  background: #e9d362;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 32px;
}

.icon-btn {
  background: none;
  border: none;
  color: #d9d9d9;
  font-size: 1rem;
  cursor: pointer;
}
.icon-btn:hover {
  color: rgba(255, 255, 255, 0.1);
}

.btn-group {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  padding: 10px 18px;
  border-radius: 32px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background: #3a3a3a;
  border: 1px solid #5d5d5d;
  border-radius: 4px;
  width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown a {
  display: block;
  padding: 10px 16px;
  color: #d9d9d9;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.show {
  display: block;
}

main {
  padding: 24px;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}
main .head {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main .head button {
  cursor: pointer;
  border: none;
  padding: 3px 16px;
  border-radius: 32px;
  background-color: #e9d362;
  font-size: 16px;
  font-weight: 700;
}
main .head button:hover {
  background-color: #f7f3ca;
}
main .table-container {
  background-color: #242424;
  border: 1px solid #3a3a3a;
  border-radius: 12px;
  padding: 24px;
  width: auto;
}
main .table-container table {
  width: 100%;
  border-collapse: collapse;
}
main .table-container table th,
main .table-container table td {
  text-align: left;
  padding: 12px;
}
main .table-container table th .badge,
main .table-container table td .badge {
  background-color: #64b5f6;
  border-radius: 15px;
  padding: 4px 10px;
  color: #242424;
  font-size: 0.85em;
}
main .table-container table th .table-actions button,
main .table-container table td .table-actions button {
  padding: 6px 7px;
  border: none;
  border-radius: 60px;
  font-size: 16px;
  cursor: pointer;
  background: #d9d9d9;
  color: #676767;
  transition: all 0.4s ease-in-out;
}
main .table-container table th .table-actions .edit:hover,
main .table-container table td .table-actions .edit:hover {
  background: #b3811b;
  color: #f7f3ca;
}
main .table-container table th .table-actions .delete:hover,
main .table-container table td .table-actions .delete:hover {
  background: #b00020;
  color: #ff8a80;
}
main .table-container table th {
  border-bottom: 1px solid #3a3a3a;
}
main .table-container table tbody tr:nth-child(even) {
  background-color: #3a3a3a;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #ccc;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 6px;
  background-color: #3a3a3a;
  transition: background-color 0.3s;
}

.pagination a.active,
.pagination a:hover {
  background-color: #e9d362;
  color: #242424;
}

.tag-container {
  display: grid;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  column-gap: 5px;
  row-gap: 5px;
}
.tag-container .tag-card {
  background-color: #242424;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 32px;
}
.tag-container .tag-card .tag-category {
  font-size: 18px;
}
.tag-container .tag-card .tag-value {
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  margin: 10% auto;
  padding: 24px;
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 16px;
  /* From Uiverse.io by m1her */
}
.modal-content form .radio-input {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #141414;
  padding: 5px;
  border-radius: 8px;
  z-index: 0;
}
.modal-content form .radio-input input {
  display: none;
}
.modal-content form .radio-input .label {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
  background-color: #3a3a3a;
  position: relative;
  cursor: pointer;
}
.modal-content form .label:has(input[type=radio]:checked) {
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
  border-top: none;
}
.modal-content form .label:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.modal-content form .label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal-content form .label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent 10%, transparent, transparent 90%);
  transition: all 0.1s linear;
  z-index: -1;
}
.modal-content form .label:has(input[type=radio]:checked)::before {
  background: linear-gradient(to bottom, transparent 10%, rgba(202, 226, 253, 0.3882352941), transparent 90%);
}
.modal-content form .label .text {
  color: #d9d9d9;
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s linear;
}
.modal-content form .label input[type=radio]:checked + .text {
  color: #e9d362;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.budget {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 17px;
  width: 100%;
  justify-content: center;
}
.budget .budget-view {
  width: 340px;
  margin-top: 6px;
  background-color: #242424;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
}
.budget .budget-view .tag {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.budget .budget-view .tag .icon-title {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding-bottom: 6px;
}
.budget .budget-view .tag .icon-title .title {
  font-weight: 600;
}
.budget .budget-view .tag .icon-title .sub-title {
  color: #999999;
  font-size: 12px;
}
.budget .budget-view .tag .percent {
  font-size: 10px;
  background-color: #e9d362;
  color: #242424;
  padding: 3px 12px;
  border-radius: 16px;
}
.budget .budget-view .tag-budget {
  color: #999999;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  height: 6px;
}
.budget .budget-view progress {
  border-radius: 32px;
  width: 100%;
  height: 10px;
}
.budget .budget-view progress::-webkit-progress-bar {
  background-color: #676767;
  border-radius: 32px;
}
.budget .budget-view progress::-webkit-progress-value {
  background-color: #e9d362;
  border-radius: 32px;
}
.budget .budget-view progress::-moz-progress-bar {
  /* style rules */
}
.budget .budget-view .tag-date-budget {
  color: #999999;
  margin: 6px 0;
  font-size: 10px;
}
.budget .budget-view .tag-btn-budget {
  display: flex;
  justify-content: end;
  gap: 8px;
}
.budget .budget-view .tag-btn-budget .btn-edit {
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 32px;
  cursor: pointer;
  background: none;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
}
.budget .budget-view .tag-btn-budget .btn-edit:hover {
  background: #d9d9d9;
  color: #242424;
  border: 1px solid #d9d9d9;
}
.budget .budget-view .tag-btn-budget .btn-delete {
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 32px;
  cursor: pointer;
  background: none;
  color: #ff8a80;
  border: 1px solid #ff8a80;
}
.budget .budget-view .tag-btn-budget .btn-delete:hover {
  background: #ff8a80;
  color: #242424;
  border: 1px solid #ff8a80;
}

.simulator {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  gap: 17px;
  width: 100%;
  justify-content: center;
}
.simulator .card-simulator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 320px;
  margin-top: 6px;
  background-color: #242424;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
}
.simulator .card-simulator .card-icon {
  font-size: 38px;
}
.simulator .card-simulator .card-info {
  display: flex;
  justify-content: center;
  font-size: 10px;
  width: 80%;
}
.simulator .card-simulator .card-info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.simulator .card-simulator button {
  background-color: #e9d362;
  border: none;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 700;
  width: 80%;
  height: 32px;
}

.upload-container {
  width: 100%;
}

.upload-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e9d362;
  padding: 30px;
  height: 120px;
  text-align: center;
  color: #686868;
  border-radius: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.drop-zone span {
  color: #686868;
  font-size: 32px;
}

.drop-zone.dragover {
  background-color: #b3811b;
}

.file-label {
  margin-top: 15px;
  font-weight: bold;
  color: #d9d9d9;
}

.file-list {
  margin-top: 10px;
  font-size: 14px;
  color: #d9d9d9;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #e9d362;
  color: #242424;
  font-weight: 700;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submit-button:hover {
  background-color: #b3811b;
}

.parent {
  display: grid;
  padding: 24px;
  height: 90vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}

.div1 {
  grid-area: 1/1/3/3;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 34px;
  padding: 16px;
}
.div1 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div1 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div1 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 32px;
  padding: 3px 6px;
  background-color: #e9d362;
  color: #242424;
}
.div1 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div1 .tag .icon-title .title {
  font-weight: 600;
}
.div1 .tag .percent {
  font-size: 10px;
  padding: 3px 12px;
  background-color: #e9d362;
  color: #242424;
  border-radius: 32px;
}
.div1 .value {
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
}

.div2 {
  grid-area: 3/1/5/3;
  background-color: #e9d362;
  width: auto;
  height: auto;
  border-radius: 34px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
}
.div2 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div2 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div2 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 4.5px;
  background-color: #242424;
  color: #e9d362;
}
.div2 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div2 .tag .icon-title .title {
  color: #242424;
  font-weight: 600;
}
.div2 .tag .percent {
  font-size: 10px;
  padding: 3px 12px;
  background-color: #242424;
  color: #e9d362;
  border-radius: 32px;
}
.div2 .value {
  font-weight: 700;
  font-size: 1.5rem;
  color: #242424;
  display: flex;
  justify-content: end;
}

.div3 {
  grid-area: 5/1/7/3;
  background-color: #d9d9d9;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 34px;
  padding: 16px;
}
.div3 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div3 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div3 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #242424;
  color: #d9d9d9;
}
.div3 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div3 .tag .icon-title .title {
  font-weight: 600;
  color: #242424;
}
.div3 .tag .percent {
  font-size: 10px;
  padding: 3px 12px;
  background-color: #242424;
  color: #d9d9d9;
  border-radius: 32px;
}
.div3 .value {
  font-weight: 700;
  font-size: 1.5rem;
  color: #242424;
  display: flex;
  justify-content: end;
}

.div4 {
  grid-area: 7/1/13/6;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  border-radius: 34px;
  padding: 16px;
}
.div4 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div4 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div4 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #e9d362;
  color: #242424;
}
.div4 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div4 .tag .icon-title .title {
  font-weight: 600;
}

.div5 {
  grid-area: 1/3/7/5;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  border-radius: 34px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
}
.div5 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div5 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div5 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 32px;
  padding: 6px;
  background-color: #e9d362;
  color: #242424;
}
.div5 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div5 .tag .icon-title .title {
  font-weight: 600;
}
.div5 .tag .all {
  color: #d9d9d9;
  font-size: 10px;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 32px;
}
.div5 .transactions-view {
  background-color: #3a3a3a;
  border: 1px solid #5d5d5d;
  padding: 6px 10px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div5 .transactions-view .transaction-value {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 700;
}
.div5 .transactions-view .transaction-box {
  display: flex;
  gap: 5px;
}
.div5 .transactions-view .transaction-box .transaction-icon {
  background-color: #d9d9d9;
  color: #242424;
  padding: 7px 9px;
  border-radius: 32px;
  margin: 0;
}
.div5 .transactions-view .transaction-box .transaction-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.div5 .transactions-view .transaction-box .transaction-data .item {
  text-decoration: none;
  color: #d9d9d9;
}
.div5 .transactions-view .transaction-box .transaction-data .transaction-category {
  display: flex;
  gap: 8px;
  font-size: 8px;
}
.div5 .transactions-view .transaction-box .transaction-data .transaction-category .date {
  text-decoration: none;
  color: #d9d9d9;
}
.div5 .transactions-view .transaction-box .transaction-data .transaction-category .category {
  font-size: 8px;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 12px;
  color: #d9d9d9;
  background-color: rgba(255, 255, 255, 0.2);
}

.div6 {
  grid-area: 7/6/13/9;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  border-radius: 34px;
  padding: 16px;
}
.div6 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div6 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div6 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #e9d362;
  color: #242424;
}
.div6 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div6 .tag .icon-title .title {
  font-weight: 600;
}

.div7 {
  grid-area: 1/9/13/11;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  border-radius: 34px;
  padding: 16px;
}
.div7 .card-economy {
  margin-bottom: 16px;
  background-color: #3a3a3a;
  padding: 9px;
  border-radius: 16px;
  border: 1px solid #5d5d5d;
}
.div7 .card-economy .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div7 .card-economy .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div7 .card-economy .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #e9d362;
  color: #242424;
}
.div7 .card-economy .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div7 .card-economy .tag .icon-title .title {
  font-weight: 600;
}
.div7 .card-economy .tag .percent {
  font-size: 10px;
  background-color: #d9d9d9;
  color: #242424;
  padding: 3px 12px;
  border-radius: 16px;
}
.div7 .card-economy .tag-budget {
  padding-top: 4px;
  font-size: 10px;
}
.div7 .card-economy progress {
  border-radius: 32px;
  width: 100%;
  height: 10px;
}
.div7 .card-economy progress::-webkit-progress-bar {
  background-color: #676767;
  border-radius: 32px;
}
.div7 .card-economy progress::-webkit-progress-value {
  background-color: #d9d9d9;
  border-radius: 32px;
}
.div7 .card-economy progress::-moz-progress-bar {
  /* style rules */
}
.div7 .card-economy .tag-info {
  color: #e9d362;
  padding-top: 4px;
  text-align: end;
  font-size: 9px;
}
.div7 .card-trick {
  background-color: #3a3a3a;
  margin-bottom: 16px;
  padding: 9px;
  border-radius: 16px;
  border: 1px solid #5d5d5d;
}
.div7 .card-trick .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div7 .card-trick .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div7 .card-trick .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #e9d362;
  color: #242424;
}
.div7 .card-trick .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div7 .card-trick .tag .icon-title .title {
  font-weight: 600;
}
.div7 .message-trick {
  padding-top: 4px;
}
.div7 .message-trick span {
  color: #e9d362;
}

.div8 {
  grid-area: 1/5/2/9;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  padding: 6px;
}
.div8 .filter-group {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.div8 .filter-group .filter-btn-group {
  display: flex;
  gap: 16px;
}
.div8 .filter-group .filter-btn-group button {
  font-size: 20px;
  color: #d9d9d9;
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 32px;
  padding: 4px 22px;
  transition: all 0.4s ease-in-out;
}
.div8 .filter-group .filter-btn-group button:hover {
  background: #e9d362;
  color: #242424;
  padding: 4px 22px;
  border-radius: 32px;
}
.div8 .filter-group .filter-menu {
  position: relative;
}
.div8 .filter-group .filter-menu .filter-btn {
  background: #e9d362;
  border: none;
  color: #242424;
  font-size: 1.2rem;
  padding: 6px 24px;
  border-radius: 32px;
  cursor: pointer;
  transition: background 0.3s;
}
.div8 .filter-group .filter-menu .filter-btn:hover {
  background: #f7f3ca;
}
.div8 .filter-group .filter-menu .filter-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  border: 1px solid #5d5d5d;
  left: 0;
  padding: 15px;
  border-radius: 8px;
  background: #242424;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  z-index: 10;
}
.div8 .filter-group .filter-menu .filter-dropdown.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div8 .filter-group .filter-menu .filter-dropdown label {
  font-size: 12px;
  color: #686868;
}
.div8 .filter-group .filter-menu .filter-dropdown input, .div8 .filter-group .filter-menu .filter-dropdown select {
  color: #d9d9d9;
  background-color: #3a3a3a;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #5d5d5d;
  width: 100%;
  box-sizing: border-box;
}
.div8 .filter-group .filter-menu .filter-dropdown .apply-btn {
  background: #e9d362;
  border: none;
  color: #242424;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}
.div8 .filter-group .filter-menu .filter-dropdown .apply-btn:hover {
  background: #f7f3ca;
}

.div9 {
  grid-area: 2/5/7/9;
  background-color: #242424;
  border: 1px solid #3a3a3a;
  width: auto;
  height: auto;
  border-radius: 34px;
  padding: 16px;
}
.div9 .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div9 .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div9 .tag .icon-title .icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #e9d362;
  color: #242424;
}
.div9 .tag .icon-title .icon i {
  margin: 0;
  padding: 0;
}
.div9 .tag .icon-title .title {
  font-weight: 600;
}
.div9 .budget-view {
  margin-top: 6px;
  background-color: #3a3a3a;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #5d5d5d;
}
.div9 .budget-view .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div9 .budget-view .tag .icon-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.div9 .budget-view .tag .icon-title .title {
  font-weight: 600;
}
.div9 .budget-view .tag .percent {
  font-size: 10px;
  background-color: #d9d9d9;
  color: #242424;
  padding: 3px 12px;
  border-radius: 16px;
}
.div9 .budget-view .tag-budget {
  font-size: 10px;
  height: 6px;
}
.div9 .budget-view progress {
  border-radius: 32px;
  width: 100%;
  height: 10px;
}
.div9 .budget-view progress::-webkit-progress-bar {
  background-color: #676767;
  border-radius: 32px;
}
.div9 .budget-view progress::-webkit-progress-value {
  background-color: #e9d362;
  border-radius: 32px;
}
.div9 .budget-view progress::-moz-progress-bar {
  /* style rules */
}

/*# sourceMappingURL=main.css.map */
